<section class="itemForm">
	<h2 ng-show="extForm.mode == 'create'">Generate a New Extension Code</h2>
	<h2 ng-show="extForm.mode == 'edit'">Extension Code Edit</h2>
	<form name="extCodeForm" novalidate>
		<div class="formRow">
			<label class="studentSelectLabel">Student</label>
			<ui-select ng-model="extForm.item.student_id" theme="select2" ng-disabled="disabled" on-select="extForm.loadAssignments($item.id)" class="extCodeAppSelect large">
				<ui-select-match placeholder="Select a student">{{$select.selected.first_name}} {{$select.selected.last_name}}</ui-select-match>
				<ui-select-choices repeat="student.id as student in extForm.studentList | filter:$select.search">
					<div class="uiSelectOption">{{student.first_name}} {{student.last_name}}</div>
				</ui-select-choices>
			</ui-select> 
		</div>
		<div class="formRow">
			<label>Assignment <span>(optional)</span></label>
			<ui-select ng-model="extForm.item.assignment_id" theme="select2" ng-disabled="disabled" class="extCodeAppSelect large">
				<ui-select-match placeholder="Select an Assignment">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="assignment.id as assignment in extForm.studentAssgns | filter:$select.search">
					<div class="uiSelectOption">{{assignment.name}}</div>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="formRow">
			<label>Valid Until</label>
			<quick-datepicker type="datetime" disable-timepicker="true" required
				name="expiration-date" 
				ng-model="extForm.item.expires_date" 
				placeholder="Expiration Date" 
				class="datePicker"></quick-datepicker>
		</div>
	</form>
	<div ng-show="extForm.message == ''">
		<div class="formButtonBar" ng-show="extForm.mode == 'create'">
			<button type="submit" 
				ng-click="extForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="extCodeForm.$invalid">Create Code</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>

		<div class="formButtonBar" ng-show="extForm.mode == 'edit'" ng-class="{deleting: extForm.deleting}">
			<button type="submit" 
				ng-click="extForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="extCodeForm.$invalid">Update Code</button>
			<button ng-click="extForm.toggleDelete()" class="action delete"><span>Delete Code</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="extForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="extForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="extForm.message != ''">{{extForm.message}}</div>
</section>