<div class="logoContainer">
	<svg width="" height="45px" viewBox="0 0 220 45" preserveAspectRatio="xMinYMin meet">
		<g id="type">
			<path style="fill:#FFFFFF;" d="M109.9,53.9c0,3.9-1.5,6.9-4.5,9c-3,2.1-7.2,3.2-12.7,3.2c-5.8,0-10.5-0.9-13.9-2.7v-4.3
				c4.4,2.2,9,3.3,13.9,3.3c4.3,0,7.6-0.7,9.8-2.1c2.2-1.4,3.4-3.3,3.4-5.7c0-2.2-0.9-4-2.7-5.5c-1.8-1.5-4.7-3-8.8-4.4
				c-4.4-1.6-7.4-2.9-9.2-4.1c-1.8-1.1-3.1-2.4-4-3.9c-0.9-1.4-1.3-3.2-1.3-5.2c0-3.3,1.4-5.9,4.1-7.8c2.7-1.9,6.6-2.9,11.5-2.9
				c4.7,0,9.2,0.9,13.4,2.7l-1.5,3.6c-4.3-1.8-8.3-2.7-11.9-2.7c-3.6,0-6.4,0.6-8.5,1.8C85,27.4,84,29,84,31.1c0,2.3,0.8,4.1,2.4,5.5
				c1.6,1.4,4.8,2.9,9.5,4.6c3.9,1.4,6.8,2.7,8.6,3.8c1.8,1.1,3.1,2.4,4,3.9C109.5,50.3,109.9,52,109.9,53.9z"/>
			<path style="fill:#FFFFFF;" d="M115.5,21.6h4.1l9.2,24.5c2.8,7.5,4.6,12.6,5.3,15.2h0.2c1.1-3.5,3-8.6,5.5-15.5l9.2-24.3h4.1
				l-19.6,50.7c-1.6,4.1-2.9,6.9-4,8.4c-1.1,1.4-2.3,2.5-3.8,3.3c-1.4,0.7-3.2,1.1-5.2,1.1c-1.5,0-3.2-0.3-5.1-0.8v-3.5
				c1.6,0.4,3.2,0.6,5,0.6c1.4,0,2.6-0.3,3.6-1s2-1.6,2.8-3c0.8-1.4,1.8-3.5,2.9-6.4c1.1-2.9,1.8-4.8,2.2-5.7L115.5,21.6z"/>
			<path style="fill:#FFFFFF;" d="M162.9,65.3h-4V2.8h4V65.3z"/>
			<g>
				<path style="fill:#FFFFFF;" d="M194.5,66.1c-12.7,0-23-10.3-23-23c0-12.7,10.3-23,23-23c12.7,0,23,10.3,23,23
					C217.5,55.8,207.2,66.1,194.5,66.1L194.5,66.1z M194.5,24.1c-10.5,0-19.1,8.6-19.1,19.1c0,10.5,8.6,19.1,19.1,19.1
					c10.5,0,19.1-8.6,19.1-19.1C213.6,32.6,205,24.1,194.5,24.1L194.5,24.1z"/>
			</g>
		</g>
		<path class="icon" style="fill:#FFFFFF;" d="M67.9,46.4l-11.6-20c0,0,0,0,0,0c-0.6-1-1.5-1.7-2.6-2.3l0.6-1c2.6-4.5-1.5-11.7-9.5-16.3
			C36.9,2.3,28.6,2.3,26,6.9l-11.6,20c0,0,0,0,0,0c-0.5,1-0.7,2.2-0.7,3.4h-1.2c-5.3,0-9.4,7.2-9.4,16.4c0,9.2,4.1,16.3,9.4,16.3
			l23.1,0c0,0,0,0,0,0c1.2,0,2.3-0.5,3.3-1.2l0.6,1c2.6,4.5,10.9,4.5,18.8-0.1C66.4,58.1,70.6,51,67.9,46.4z M42,34.8
			c-2.1-3.3-3.9-4.6-4-4.7c0.4-0.2,0.8-0.5,1.2-0.7c5.7-3.1,12.9-3.2,14.7-1.2c1.8,2.1-1.2,6.1-2.9,7.9c-1.7,1.7-3.2,3-5.4,4.2
			c-0.4,0.2-0.8,0.5-1.2,0.7C44.3,40.9,44.1,38.1,42,34.8z M35.5,33.3c1,0,2,0.6,2.9,1.7c1.5,1.9,2.9,4.5,1.8,6.5
			c-0.4,0.7-1.1,1.2-2.2,1.5c-2.5,0.4-5.9,0.5-7.2-1.6c-0.9-1.3-0.3-3.7,1.6-6.3C33.2,34.1,34.3,33.3,35.5,33.3z M21.1,22
			c3-5.3,7.8-13.5,7.8-13.5c2.3-1.7,7.9-1.4,13.9,2c5.9,3.4,9,8.2,8.7,11c0,0-0.4,0.7-1,1.8c-3.6-0.4-8.3,0.8-12.8,3.4
			c-0.8,0.4-1.5,0.9-2.2,1.4c-0.2-0.1-0.4-0.3-0.6-0.4c0,0,0,0,0,0c-0.5-0.3-0.9-0.6-1.4-0.9c-0.5-0.3-1-0.6-1.5-0.8c0,0,0,0,0,0
			c-0.5-0.2-1-0.5-1.5-0.7c0,0,0,0,0,0c-0.5-0.2-1-0.4-1.5-0.6c0,0,0,0,0,0c-0.5-0.2-1-0.3-1.5-0.5c0,0,0,0,0,0
			c-0.5-0.1-1-0.3-1.4-0.4c0,0,0,0,0,0c-0.5-0.1-0.9-0.2-1.4-0.3c0,0,0,0,0,0c-0.9-0.1-1.8-0.2-2.7-0.2C21.3,23.3,20.6,22.9,21.1,22z
			 M28.8,35.1c-1.6,3.1-2,5.6-2.1,5.8c-0.4-0.2-0.7-0.4-1.1-0.6c-6.4-3.6-10.1-9.5-8.4-12.1c1.7-2.6,5.9-2,8.3-1.4
			c2.3,0.6,4.2,1.3,6.4,2.6c0.4,0.2,0.7,0.4,1.1,0.6C32.9,30,30.3,32,28.8,35.1z M28.2,59.6c-6.1,0-15.5,0-15.6,0
			c-2.6-1.1-5.2-6.2-5.2-13c0-6.9,2.5-11.9,5.2-13c0,0,0.8,0,2.1,0c1.5,3.3,4.8,6.8,9.4,9.4c0.7,0.4,1.5,0.8,2.2,1.1
			c0,0.3-0.1,0.5-0.1,0.8c0,0,0,0,0,0c0,0.5,0,1.1,0,1.6c0,0.6,0,1.1,0,1.7c0,0,0,0,0,0c0,0.6,0.1,1.1,0.1,1.6c0,0,0,0,0,0
			c0.1,0.5,0.1,1.1,0.2,1.6c0,0,0,0,0,0c0.1,0.5,0.2,1,0.3,1.5c0,0,0,0,0,0c0.1,0.5,0.2,1,0.4,1.4c0,0,0,0,0,0
			c0.1,0.5,0.3,0.9,0.5,1.3c0,0,0,0,0,0c0.3,0.9,0.7,1.7,1.2,2.4C29.2,58.7,29.2,59.6,28.2,59.6z M35.4,46.4c3.7,0.1,6.2-1.1,6.4-1.2
			c0,0.4,0,0.9,0,1.3c0.3,6.7-3.5,13.3-6.3,13.3c-2.8,0-4.7-4.1-5.4-6.4c-0.6-2.3-0.9-4.3-0.9-6.8c0-0.4,0-0.9,0-1.3
			C29.2,45.3,31.6,46.3,35.4,46.4z M56.4,59.1c-5.9,3.4-11.6,3.7-13.9,2c0,0-0.4-0.7-1.1-1.8c2.1-3,3.4-7.5,3.4-12.7
			c0-0.9,0-1.7-0.1-2.5c0.3-0.1,0.5-0.2,0.8-0.4c0,0,0,0,0,0c0.5-0.2,1-0.5,1.4-0.8c0.5-0.3,1-0.6,1.5-0.9c0,0,0,0,0,0
			c0.5-0.3,0.9-0.6,1.3-0.9c0,0,0,0,0,0c0.4-0.3,0.8-0.6,1.2-1c0,0,0,0,0,0c0.4-0.3,0.8-0.7,1.1-1c0,0,0,0,0,0c0.4-0.3,0.7-0.7,1-1.1
			c0,0,0,0,0,0c0.3-0.4,0.6-0.7,0.9-1.1c0,0,0,0,0,0c0.6-0.7,1.1-1.5,1.5-2.2c0.3-0.5,1-0.9,1.6-0.1c3,5.3,7.8,13.5,7.8,13.5
			C65.4,50.9,62.3,55.7,56.4,59.1z"/>
	</svg>
</div>