<nav id="classTabs">
	<a back class="backLink">⟵ Back to Enrollment</a>
</nav>
<header ng-show="mcStuSubs.subsList.length > 0">
	<h3>Viewing Submissions by {{mcStuSubs.student.first_name}} {{mcStuSubs.student.last_name}}</h3>
</header>

<section submission-list 
	list="mcStuSubs.subsList" 
	display-as="student" 
	loaded="mcStuSubs.loaded">
</section>