<section>
	<button class="bigAddButton" ui-sref="classCreate"><b></b>Add a Class</button>
	<div class="itemListWrapper" ng-class="{loaded : prgClasses.loaded}" hide-until-loaded>
		<div class="itemContainer">
			<div class="classBlock itemBlock" 
				ng-repeat="class in prgClasses.classList"
				ng-show="prgClasses.classList.length > 0">
				<header>
					<h2 ui-sref="classAssignments({class: class.slug})">{{class.title}}</h2>
					<a class="action edit" ui-sref="classEdit({class: class.slug})">
						<span>edit</span>
					</a>
				</header>
				<article>
					<section class="left classLeft">
						<p class="teachers" ng-show="class.teacher_authorizations.length > 0">
							Teacher: <a person-menu="teacher.teacher.id" ng-repeat="teacher in class.teacher_authorizations">{{teacher.teacher.first_name}}&nbsp;{{teacher.teacher.last_name}}</a>
						</p>
						<p class="teachers warn" ng-hide="class.teacher_authorizations.length > 0">No Teacher Assigned</p>
						<p class="dates">Ending: <span>{{class.ends | date:'d-M-yyyy'}}</span></p>
						<p class="unit">Unit: {{class.module.title}}</p>
					</section>
					<section class="right classRight">
						<figure>
							<a ui-sref="classEnrollment({class: class.slug})">Students</a>
						</figure>
						<figure>
							<a ui-sref="classAssignments({class: class.slug})">Assignments</a>
						</figure>
					</section>
					<div class="clear"></div>
				</article>
			</div><!-- End class block -->
			<div ng-show="prgClasses.classList.length < 1" class="emptyCollection">
				<h2>There aren't any classes in this program yet.</h2>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
<section class="formContainer" ui-view ng-class="{isVisible : classForm.modal}"></section>

