<header id="pageTop" class="tabBar">
	<h1>{{ prg.programSelection.title }}</h1>
	<ui-select ng-model="globals.selectedSemester" theme="select2" ng-disabled="disabled" on-select="globals.changeSemester($model)">
		<ui-select-match placeholder="View semester">{{$select.selected.title}}</ui-select-match>
		<ui-select-choices repeat="item.slug as item in sem.semesterList">
			<div ng-bind="item.slug" class="uiSelectOption"></div>
		</ui-select-choices>
	</ui-select> 
	<nav>
		<ul id="tabs">
			<li ui-sref-active="active">
				<a ui-sref="programClasses">Classes</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programSubmissions">Submissions</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programEnrollment">Enrollment</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="programModules">Modules</a>
			</li>
		</ul>
	</nav>  
	<div class="clear"></div>
</header>
<section id="page" ui-view class="tabbedPage"></section>