<ul ng-controller="navController as nav">
	<li id="logoBox"></li>
	<li class="navItem myClassesNav" ng-show="nav.userInfo.isTeacher" ng-class="nav.nav.navClass('myClassesClasses')">
		<a ng-click="nav.linker(selectedSemester, 'myclasses')">My Classes</a>
	</li>
	<li class="navItem programsNav" ui-sref-active="active">
		<a class="accordionNav" ui-sref="programs"><span>Programs</span></a>
		<span class="accordionArrow" ng-class="{'open': navCtrl.programsListOpen, 'closed': !navCtrl.programsListOpen}" ng-click="navCtrl.toggleProgramsList()"></span>
		<ul ng-show="navCtrl.programsListOpen">
			<li ng-repeat="singleItem in navCtrl.programList" ui-sref-active="active" class="accordionItem">
				<a ui-sref="programView({ semester: globals.selectedSemester, program: singleItem.slug })">{{ singleItem.title }}</a>
			</li>
		</ul>
	</li>
	<li class="navItem usersNav" ng-class="nav.navClass('users')">
		<a ui-sref="users">Users</a>
	</li>
	<li class="navItem extCodesNav" ng-class="nav.navClass('extCodes')">
		<a ui-sref="extCodes">Extension Codes</a>
	</li>
</ul>