<p>
	Hi {{globals.userInfo.first_name}}! 
	<a class="action userToolsIcon" ng-click="globals.state.toggleUserTools()">
		<span>User Tools</span>
	</a>
</p>
<div id="userTools" ng-show="globals.state.userToolsVisible">
	<section id="tools">
		<ul>
			<li>
				<a ui-sref="profile" class="action profileLink">My Profile</a>
			</li>
			<li>
				<a href="logout" target="_self" class="action logoutLink">Logout</a>
			</li>
		</ul>
	</section>
	<!-- notifications will go here -->
</div> 
