<section class="itemForm">
	<h2 ng-show="userForm.mode == 'create'">Add A User</h2>
	<h2 ng-show="userForm.mode == 'edit'">User Edit</h2>
	<form name="newUserForm" novalidate>
		<div class="formSection">
			<label>First Name</label>
			<input required type="text" name="firstName" ng-model="userForm.item.first_name" placeholder="First Name" value="{{users.newUser.first_name}}"/>
		</div>
		<div class="formSection">
			<label>Last Name</label>
			<input required type="text" name="lastName" ng-model="userForm.item.last_name" placeholder="Last Name" value="{{users.newUser.last_name}}"/>
		</div>
		<div class="formSection">
			<label>Email</label>
			<input required type="email" name="email" ng-model="userForm.item.email" placeholder="Email Address (used for signin)" value="{{users.newUser.email}}"/>
		</div>
		<button class="action passwordEdit" ng-click="userForm.passwordEdit = true" ng-hide="userForm.passwordEdit">Change Password</button>
		<div class="formSection" ng-show="userForm.passwordEdit">
			<label>Password</label>
			<input type="password" name="password" ng-model="userForm.item.password" placeholder="Password" value="{{users.newUser.password}}"/>
		</div>
		<div class="formSection">
			<label class="short">User Roles:</label>
			<ui-select multiple ng-model="userForm.roles" theme="select2" ng-disabled="disabled">
				<ui-select-match placeholder="Select user roles">{{$item.role_title}}</ui-select-match>
				<ui-select-choices repeat="role.role_id as role in userForm.rolesList | filter:$select.search">
					{{role.role_title}}
				</ui-select-choices>
			</ui-select>
		</div>
	</form>
	<div ng-show="userForm.message == ''">
		<div class="formButtonBar" ng-show="userForm.mode == 'create'">
			<button type="submit" 
				ng-click="userForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="semesterForm.$invalid">Create User</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>

		<div class="formButtonBar" ng-show="userForm.mode == 'edit'" ng-class="{deleting: userForm.deleting}">
			<button type="submit" 
				ng-click="userForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="semesterForm.$invalid">Update User</button>
			<button ng-click="userForm.toggleDelete()" class="action delete"><span>Delete User</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="userForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="userForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="userForm.message != ''">{{userForm.message}}</div>
</section>