// --------------------------------- CLASS TAB FRAME  ---------------------------------

#pageTop{
	@extend %grid-12;
	text-align: center;
	padding: 10px 0 0px;

	.select2-container{
		margin-left: 15px;
		background-color: $color1;
		
		.select2-chosen{
			color: white;
		}
	}

	&.tabBar {
		text-align: left;

		h1{
			display: inline-block;
		    max-width: 50%;
			white-space: nowrap;
			text-overflow: ellipsis;
		    overflow: hidden;
			padding: 2px 0px 20px 10px;
			float: left;
			color: $color2;
			font-size: $bigbigtype;
		}

		nav{
			float: right;

			li {
				display: inline-block;
				padding: 10px;
				position: relative;
				right: 0;

				a {
					font-style: normal;
					color: $dkgrey;
				}

				&.active {
					background: $color1;

					a {
						color: white;
					}
				}
			}
		}
	}
}

#classTabs{
	background: $color1;
	padding: 10px;
	margin-bottom: 10px;

	// more select styles are in the select2 stylesheet

	.select2-container{
		background-color: none;
		margin-top: -10px;
		margin-left: -10px;

		a {
			color: white;
			font-style: normal;
			overflow: visible;

			&:hover {
				color: $ltltgrey;
			}
		}

		.select2-chosen{
			font-size: $bigtype;
			overflow: visible;
		}
	}

	ul.classNavOptions {
		position: relative;
		float: right;
		display: inline-block;
		li {
			display: inline-block;
			float: left;
			font-size: $normtype;

			a {
				color: white;
				font-style: normal;
				padding: 4px;
				margin:	0 5px;
				@include rounded;
				background: $color1;

				&:hover {
					background: lighten($color1, 10%);
				}
			}

			&.active {
			
				a{
					color: $color1;
					background: white;
				}
			}
		}
	}
}

@media only screen and (max-width: 924px) {

	#classTabs ul.classNavOptions {
		float: none;
		display: block;
		margin-top: 20px;
		
		li {
			display: inline-block;
			float: none;
		}
	}

}

@media only screen and (max-width: 724px) {

	#pageTop{
		padding-bottom: 0;

		&.tabBar {

			h1{
				display: inline-block;
				color: $color2;
				padding: 10px;
				float: none;
			}

			nav{
				display: block;
				float: none;

				li {
					padding: 5px;
					font-size: 0.9em;
				}
			}
		}
	}
}
