.quickdate {
    display: inline-block;
    position: relative;
}

.quickdate-button div,
.quickdate-action-link div {
    display: inline;
}

.quickdate-popup {
    z-index: 1000;
    background-color: #fff;
    text-align: center;
    width: 250px;
    display: none;
    position: absolute;
    padding: 5px;
    color: #333333;
    font-size: 15px;
    background-color: #fafafa;
    border: solid 1px $color1;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.4);
    box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.4);
}

.quickdate-popup.open {
    display: block;
}

.quickdate-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #333;
    font-size: 110%;
    margin-top: -6px;
    text-decoration: none;
}

.quickdate-close:hover {
    text-decoration: underline;
}

.quickdate-close:hover,
.quickdate-close:visited {
    color: #333;
}

.quickdate-calendar-header {
    display: block;
    padding: 2px 0;
    margin-bottom: 5px;
    text-align: center;
}

.quickdate-month {
    display: inline-block;
}

a.quickdate-prev-month {
    float: left;

    i {
        padding-right: 10px;
    }
}

a.quickdate-next-month {
    float: right;

    i {
        padding-left: 10px;
    }
}

.quickdate-text-inputs {
    text-align: left;
    margin-bottom: 5px;
}

.quickdate-input-wrapper {
    width: 100%;
    text-align: center;
    display: inline-block;
}

input.quickdate-date-input,
input.quickdate-time-input {
    // width: 100px;
    margin: 0;
    height: auto;
    padding: 4px 3px;
}

table.quickdate-calendar {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 5px;
    border: solid 1px #ccc;
    background-color: #ffffff;

    th, td {
        padding: 5px;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc
    }

    td {
        &.other-month {
            background-color: #dbdbdb;
            color: #808080;
        }

        &.other-month:hover {
            background-color: #c7c7c7;
        }

        &.disabled-date {
            background-color: inherit;
            color: #ffffff;
        }

        &.disabled-date:hover {
            background-color: inherit;
            cursor: default;
        }

        &.selected {
            background-color: $color2;
            font-weight: bold;
        }

        &.is-today {
            color: $color1;
            font-weight: bold;
        }

        &.is-today.disabled-date {
            color: #929292;
            font-weight: normal;
        }

        &:hover {
            cursor: pointer;
            background-color: $ltgrey;
        }
    }

}

.quickdate-popup-footer {
    text-align: right;
    display: block;
    margin: 3px 1px 0;
}

.quickdate {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1em;

    input.ng-invalid {
        border: 1px solid #dd3b30;
    }

    input.ng-invalid:focus {
        outline-color: #dd3b30;
    }

    input, select {
        font-size: 1.2em;
        text-align: center;
    }

}

.quickdate-button {
    background: #ffffff;
    color: #333333;
    border: solid 1px #cccccc;
    box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
}

.quickdate-button:hover {
    text-decoration: underline;
}

.quickdate-button:hover i {
    text-decoration: none;
}

.quickdate-button i {
    padding-right: 4px;
}

.quickdate-action-link:visited,
.quickdate-action-link:hover {
    color: #333333;
}

.quickdate-clear {
    display: inline-block;
    padding: 2px 4px;
    background-color: #ffffff;
    color: #333333;
    border: solid 1px #cccccc;
    box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 4px;
    text-decoration: none;
}

.quickdate-clear:hover {
    background-color: #f2f2f2;
}