// --------------------------------- Global PAGE Objects ---------------------------------

.errorPage {
	background-color: $warncolor;
	
	section{
		@extend %grid-10;
		@extend %mobile_full;
		margin: 50px auto;
		color: white;
		font-size: 1.3em;
		line-height: 1.5em;


		h1{
			font-size: 2.4em;
			text-align: center;
			margin: 50px 0;
		}

		img {
			width: 30%;
			max-width: 250px;
			margin: 0 auto;
			display: block;
		}
	}

	footer {
		@extend %grid-10;
		@extend %mobile_full;
		margin: 20px auto;
		color: white;
		text-align: center;
	}

}