// --------------------------------- FORMS ---------------------------------

input {
	font-family: 'Open Sans', sans-serif;

	&[type=text], &[type=email], &[type=password], &[type=date] {
		@include rounded;
		border: 1px solid $ltgrey;
		background: white;
		color: $dkgrey;
		font-size: $normtype;
		padding: 6px 10px;
		font-weight: 300;

		&:focus {
			border: 1px solid $color1;
			background: $focus;
			outline: none;
		}
	}

	&.filter {
		border: 1px solid $midgrey;
		color: $ltltgrey;

		&:focus {
			background: $ltltgrey url('../img/ex_grey.png');
			outline: none;
			color: $dkgrey;
		}
	}

	&.ng-invalid {
		border: 1px solid $warncolor !important;
	}	
}

.formRow {
	padding: 10px 0 0;
}

.bigAddButton{
	width: 100%;
	padding: 8px 0 12px;
	text-align: center;
	color: $color1;
	border: 0;
	background: $ltgrey;
	@include rounded;
	// margin: 10px 0px 0 0px;

	&:hover {
		background: $color1;
		color: white;

		b {
			background-position: $bc1 $br4;
		}
	}

	b {
		@include btnsprite;
		background-position: $bc1 $br1;
		padding: 2px 11px;
		margin-right: 4px;
		top: 3px;
		position: relative;
	}
}

// --------------------------------- LOGIN

#login {
	width: $span6;
	margin: 100px auto;

	h2 {
		font-size: 2.5em;
		color: $color1;
		text-align: center;
		margin-bottom: 20px;
	}

	.formGroup {
		background: white;
		@include shadowShort;
		padding: 20px;

		input[type=email], input[type=password]{
			margin-bottom: 15px;
			width: 100%;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
		}

		div {
			margin-bottom: 10px;

			label, a {
				font-size: $normtype;
			}
			> * {
				display: inline-block;
			}
		}
	}

	footer {
		text-align: center;
		margin: 20px auto 0;
		font-size: $smalltype;
		font-weight: 400;
	}
}