.formContainer{
	transition: opacity 0.5s;
	z-index: 1000;
	position: fixed;
	top: 0px;
	width: 100%;

	&:after {
		content: '';
		height: 0%;
		background-color: white;
		width: 100%;
		position: fixed;
		transition: height 0.3s;
		top: 0;
		left: 0;
		opacity: 0;
	}

	&.isVisible:after {
		height: 100%;
		opacity: 0.6;
	}

	.itemForm{
		-webkit-box-shadow: 0px 0px 62px -13px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 62px -13px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 62px -13px rgba(0,0,0,0.75);
		@extend %grid-6;
		@extend %tablet_grid-6;
		@extend %mobile_grid-3-4;
		background-color: $editcolor;
		z-index: 150;
		position: relative;
		top: 10px;
		left: 40%;
		transform: translateX(-50%);
		border-top: 10px $color1 solid;
		padding: 20px 10px;

		h2 {
			font-size: 1.2em;
			text-align: center;
			margin-bottom: 14px;
			margin-top: -5px;
		}

		label{
			display: inline-block;
			width: 100%;
		}

		aside, label span {
			font-size: 0.7em;
			color: $midgrey;
		}

		.formSection aside {
			padding: 4px 0 0 165px;
		}

		.formSection label + input[type=text],
		.formSection label + input[type=email]{
			width: 100%;
		}

		.authorizationsRow {
			text-align: center;
			margin-top: 15px;
			border-top: 1px solid $color1;

			label {
				margin: 5px auto 10px; 
			}
		}

		input[type=text] {
			display: inline-block;
			width: 100%;
			z-index: 900;

			&.datePicker + button.ui-datepicker-trigger {
			 	margin: 0;
			 }
		}

		.passwordEdit {
			margin: 10px 0;
			padding: 0 0 3px 0;
			background-color: transparent;
			color: $color1;
			border-radius: 0;
			border-bottom: 1px solid $color1;

			&:hover {
				color: $color2;
			}
		}

		.ui-select-multiple {
			width: 100%;
			background: white;
		}

		.select2-container {
			font-size: $normtype;
			font-weight: 300;

			a {
				color: $dkgrey;
				font-style: normal;
			}

			&.large {
				background-color: white;
				@include rounded;
				margin-top: 2px;
				width: 100%;

				.select2-arrow b{
					background-position: 4px -950px;
				}
			}

			ul {
				border: none;
				// background: none;
				outline: none;
			}

			.select2-search-field {
				// display: none;
			}

			.select2-dropdown-open .select2-search-field {
				display: inline;
			}

			&.select2-container-active {

				.select2-choice {
					background-color: white;
					@include rounded;
				}

			}

			.select2-choice {
				// width: 100%;
			}
		}

		.select2-container-multi{
			background-color: transparent;
			margin-top: 0;
			border-radius: 0;
		}

		.formSection {
			padding: 5px 0;
		}
	}

	.newExtCodeForm {

		.select2-container {
			background-color: white;
			@include rounded;
			margin-top: 2px;
		}

	}

	.formMessage {
		text-align: center;
		font-size: 1.3em;
		color: $okcolor;
		margin-top: 15px;
		background: white;
		padding: 15px;	

		&.small {
			background-color: transparent;
			padding: 0;
		}
	}

}

.importForm {
	textarea {
		width: 100%;
		height: 100px;
		border: none;
	}
}



button.action.add {
	@include btnsprite;
	background-position: $bc1 $br2;
	background-color: transparent;
	top: -4px;
	position: relative;
	margin: 0;
	padding: 11px;

	:hover {
		background-color: transparent;
		opacity: 0.8;
	}
}

.formButtonBar{
	margin-top: 20px;

	> div {
	 	padding: 20px 10px 10px;
	 	position: relative;
	}	

	.cancel {
	 	float: right;
	}

	&.deleting {

	 	span.bubble {
	 		opacity: 1;
	 		left: 175px;
	 		visibility: visible;
	 	}

	 	button.delete{
	 		background-position: $redhover -240px;
	 	}
	}

	// delete mode stuff is in item block

	span.bubble {
	    transition: opacity 0.5s, left 0.5s, visibility 0.5s;
	    position: absolute;
	    left: 165px;
	    top: -30%;
	    min-width: 110px;
	    padding: 5px;
	    background-color: $dkgrey;
	    opacity: 0;
	    visibility: hidden;

		.cancel {
			color: white;
		}

		button {
			padding: 3px 4px;
			margin: 0 5px 0 0;
			background-color: white;
			color: $warncolor;
			font-size: 0.8em;

			&:hover {
				background-color: lighten($warncolor, 20%);
			} 
		}

		&.leftpoint:after {
			top: 9px;
			left: -10px;
			border-width: 8px 12px 8px 0;
			border-color: rgba(0, 0, 0, 0) $dkgrey;
	    }
	}
}
