// styles for status messages

#mc-messages-wrapper {
	position: fixed;
	z-index: 10000;
	text-align: center;
	width: 100%;

	.alert {
		padding: 10px 10%;
		font-size: 1em;
		font-weight: 800;

		a.close {
		    display: inline-block;
		    position: absolute;
		    right: 10px;
		    top: 10px;

			svg {
				height: 20px;
				width: auto;
			}
		}
	}

	.alert-danger {
		background-color: rgba($warncolor, 0.9);
		color: white;
	}

	.alert-warning {
		background-color: rgba(240, 232, 171, 0.9);
		color: $warncolor;

		svg path {
			fill: black;
		}
	}

	.alert-info {
		background-color: rgba(white, 0.9);
		border: 1px solid $color1;
		color: black;
	}

	.alert-success {
		background-color: rgba($okcolor, 0.8);
		color: black;
	}

}