// --------------------------------- Custom GRIDS styles ---------------------------------
@import "compass/css3/border-radius";
.dataGrid {
  width: 100%;
  font-size: $normtype;
  height: auto;
  margin-top: 10px;

  thead tr th{
      padding: 10px 5px;
      font-weight: 800;
      border-bottom: 1px solid $color1;

      input {
        width: 30%;
        float: right;
      }

      &.searchBar {
        border: none;
      }

  }

  tbody tr td {
    padding: 10px 5px;

    &.subActions {
      text-align: right;
    }
  }

  tbody tr:nth-child(even) {
    background-color: $ltltgrey;
  }

  .mobileShy {
    @extend %mobile_none;
  }

  th[st-sort]{
    cursor: pointer;

    &:hover {
      color: $color1;
    }

    &.st-sort-ascent, &.st-sort-descent {
      color: white;
      background-color: $color1;
      @include border-top-right-radius(5px);
      @include border-top-left-radius(5px);

      &:after {
        position: absolute;
        content: '';
        @include btnsprite;
        height: 100%;
        width: 20px;
        top: 0;
        right: 0;
      }
    }

    &.st-sort-descent:after {
      background-position: -319px -1100px;
    }

    &.st-sort-ascent:after {
      background-position: -398px -1101px;
    }
  }
}

.smallDataGrid {
  width: 100%;
  font-size: $normtype;
  height: auto;

  td, th {
    padding: 4px 10px;
  }
}


