
/* Styling the determinate progress element */

progress[value] {
	appearance: none;
	border: none;
	height: 17px;
	
	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	background-color: white;
	
	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: $color1;
	position: relative;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
	background-color: white;
	// border-radius: 5px;
	// box-shadow: 0 0px 5px rgba(0,0,0,.2) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;
	border-radius:3px;
	background-color: $color1;
}

progress[value]::-moz-progress-bar {
	border-radius:3px;
	background-color: $color1;
}

/* Fallback technique styles */
.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 0px 5px rgba(0,0,0,.4) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: $color1;;
	border-radius: 3px;
	
	display: block;
	text-indent: -9999px;
}
