@import "includes/_vars.scss";
@import "compass/reset";
@import "includes/ng-grid.scss";
@import "includes/select2.scss";
@import "includes/blocks.scss";
@import "includes/messages.scss";
@import "includes/submit.scss";
@import "includes/progressbars.scss";
@import "includes/forms.scss";
@import "includes/buttonsandloaders.scss";
@import "includes/topbar.scss";
@import "includes/sidebar.scss";
@import "includes/layout.scss";
@import "includes/profile.scss";
@import "includes/classtabframe.scss";
@import "includes/crumpet.scss";
@import "includes/itemForms.scss";
@import "includes/personMenu.scss";
@import "includes/myclasses.scss";
@import "includes/dateDefault.scss";
@import "includes/errorPage.scss";
@import "includes/fileviewer.scss";
@import "includes/loader.scss";

// --------------------------------- HELPERS & TOPLEVEL OBJECTS ---------------------------------

html {
	overflow-y: scroll; 
	// force scrollbars to eliminate jumps whening loading in content
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	// background: #e5e5e5;
}

.gridStyle {
    border: 1px solid rgb(212,212,212); 
    height: 300px
}

.action {
	cursor: pointer;
	
	span {
		display: none;
	}
}

.hide {
	display: none;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear {
	clear: both;
}

.inline {
	display: inline !important;
}

.warn {
	color: $warncolor !important;
}

.ok {
	color: $okcolor;
}

a{
	text-decoration: none;
	font-style: italic;
	color: $color1;
	@include trans;
	cursor: pointer;

	&:hover {
		color: darken($color1, 10%);
	}

	&.noClick {
		color: $dkgrey;
		cursor: default;

		&:hover {
			color: $dkgrey;
		}
	}
}

.condensed {
	font-family: $condensed;
}

p.note {
	display: block;
	padding: 5px 0;
	font-style: italic;
	color: $dkgrey;
	line-height: 1.3em;
}

.ng-transclude {
	z-index: 1;
}

