<button class="bigAddButton" ui-sref="myClassesClassAssignmentCreate"><b></b>Add an Assignment</button>
<div class="itemListWrapper" ng-class="{loaded : mcClsAssign.loaded}" hide-until-loaded>
	<div class="itemContainer">
		<div ng-repeat="assignment in mcClsAssign.assignmentList"
			ng-show="mcClsAssign.assignmentList.length > 0"
			ng-controller="mcAssignmentBlockController as aBlock"
			ng-show="mcClsAssign.assignmentList.length > 0"
			class="assignmentBlock itemBlock"
			ng-class="{subsOpen : aBlock.viewingSubs}">
				<header>
					<h2>{{assignment.name}}</h2>
					<a class="action edit" ui-sref="myClassesClassAssignmentEdit({assg: assignment.slug})"><span>edit</span></a>
				</header>
				<p class="dueDate">
					Due Date <span>{{assignment.due | date:'d-M-yyyy'}}</span>
				</p>
				<p class="visibility" ng-show="assignment.visibility == 1">Visible to students</p>
				<p class="visibility" ng-hide="assignment.visibility == 1">Not visible to students</p>
				<!-- <p>
					<progress value="22" max="100"></progress>
				</p> -->
				<!-- <figcaption>{{assignment.submitted}} of {{assignment.totalstudents}} submitted</figcaption> -->
				<section class="submissionsFooterBar">
					<!-- <a class="action viewSubmissions" ng-click="aBlock.toggleSubs(assignment.slug)" ng-hide="aBlock.edit.viewingSubs">View Submissions</a>
					<a class="action viewSubmissions" ng-click="aBlock.toggleSubs()" ng-show="aBlock.edit.viewingSubs">Hide Submissions</a> -->
					<!-- <a class="downloadLink action" ng-hide="aBlock.manyToDownload()">Download All Submissions <i>(.zip)</i></a> -->
					<!-- <a class="downloadLink action" ng-show="aBlock.manyToDownload()">Download Selected Submissions <i>(.zip)</i></a> -->
					<div class="clear"></div>
				</section>
				<div class="subsAccordion" >
					<table class="assignmentSubmissionsGrid smallDataGrid" 
						st-table="aBlock.assignmentSubsDisplayList"
						st-safe-src="aBlock.assignmentSubsGrid">
						<thead>
							<tr>
								<th class="colHeader" st-sort="first_name">Student</th>
								<th class="colHeader" st-sort="email">Sub. Date</th>
								<th class="colHeader" st-sort="status">File</th>
								<th class="colHeader"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in aBlock.assignmentSubsDisplayList">
								<td person-menu="row.student_id">{{row.student_id}}</td>
								<td>{{row.created | date:'d-M-yyyy'}}</td>
								<td>{{row.file}}</td>
								<td>
									<button ng-click="aBlock.downloadSubmission({submission: row.id})" class=" action downloadLink">
										<span>Download</span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div><!-- End program block -->

		<div ng-show="mcClsAssign.assignmentList.length < 1" class="emptyCollection">
			<h2>There aren't any assignments yet.</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>
<section class="formContainer" ui-view ng-class="{isVisible : mcAssignForm.modal}"></section>

