<nav id="classTabs">
	<ui-select ng-model="mcClass.classSelection" theme="select2" ng-disabled="disabled" on-select="mcClass.classSwitcher($item, $model)">
		<ui-select-match placeholder="Select a class">{{$select.selected.title}}</ui-select-match>
		<ui-select-choices repeat="item.slug as item in mcClass.classList">
			<div ng-bind="item.title" class="uiSelectOption"></div>
		</ui-select-choices>
	</ui-select> 
	<ul  class="classNavOptions">
		<li ui-sref-active="active">
			<a ui-sref="myClassesClassAssignments">Assignments</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="myClassesClassEnrollment">Enrollment</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="myClassesClassSubmissions">Submissions</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="myClassesClassFeedback">Feedback</a>
		</li>
		<li ui-sref-active="active">
			<a ui-sref="myClassesClassDocumentation">Documentation</a>
		</li>
	</ul>
</nav>
<section ui-view id="classPages"></section>