<header id="pageTop" class="tabBar">
	<h1>My Classes</h1>
	<nav>
		<ul id="tabs">
			<li ui-sref-active="active">
				<a ui-sref="myClassesClasses">Classes</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="myClassesSubmissions">Submissions</a>
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>
<section id="page" ui-view class="tabbedPage myClassPages"></section>