<div id="pageTop" ng-hide="submit.assignmentChosen">
    <h1>Submit Your Work</h1>
</div>    
<section class="classSelection">
    <!-- <h2>Select your class and assignment</h2> -->
    <h2 ng-show="submit.assignmentChosen" class="assignmentCopy">Submitting work for</h2>
    <ui-select required ng-model="submit.submissionParams" theme="select2" ng-disabled="disabled" class="large" on-select="submit.selectClass()">
        <ui-select-match placeholder="Select an assignment">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices group-by="submit.groupAssignments" repeat="assignment.id as assignment in submit.currentAssignments | filter:$select.search">
            {{assignment.name}}
        </ui-select-choices>
    </ui-select>
</section>   
<section class="submitBox" 
    flow-init
    flow-files-submitted="submit.filesAdded($flow, $files)"
    flow-complete="submit.complete($flow)"
    flow-file-error="submit.fileError($message, $file)"
    flow-file-retry="submit.fileRetry($file)"
    flow-drag-enter="submit.dropClass='dropping'" 
    flow-drag-leave="submit.dropClass=''"
    ng-class="submit.dropClass">
    
    <div class="fileDropZone" flow-drop ng-show="submit.showDrop()">
        <h3>Drop your files here to upload</h3>
        <h4>or</h4>
        <div class="buttonRow">
            <button type="file" flow-btn>Upload a file</button>
            <button type="folder" flow-btn flow-directory ng-show="$flow.supportDirectory">Upload a folder</button>
            <!-- <button class="googleDrive">Select from Google Drive</button>
            <button class="dropBox">Select from Dropbox</button> -->
        </div>
    </div>  

    <table ng-show="$flow.files.length > 0  && submit.showTable()">
        <tr>
            <th class="rowIndex"></th>
            <th class="fileName">File Name</th>
            <th class="fileSize">Size</th>
            <th class="fileStatus">Status</th>
            <th class="fileButtons"></th>
        </tr>
        <tr ng-repeat="file in $flow.files" class="submissionFileRow">
            <td class="rowIndex">{{$index+1}}</td>
            <td class="fileName">{{file.name}}</td>
            <td class="fileSize">{{file.size | bytes}}</td>
            <td class="fileStatus">
                <progress ng-hide="file.isComplete()" value="{{file.progress()}}" max="1"></progress>
                <span ng-show="file.paused">Paused</span>
                <span ng-show="file.isComplete()">Complete</span>
            </td>
            <td class="fileButtons">
                <div class="fileButtonBar" ng-hide="file.isComplete()">
                    <a class="action fileIcon pauseFile" ng-click="file.pause()" ng-show="!file.paused && $flow.isUploading()">
                        <span>Pause</span>
                    </a>
                    <a class="action fileIcon resumeFile" ng-click="file.resume()" ng-show="file.paused">
                        <span>Resume</span>
                    </a>
                    <a class="action fileIcon removeFile" ng-click="file.cancel()" ng-hide="$flow.isUploading()">
                        <span>Remove</span>
                    </a>
                    <a class="action fileIcon" ng-click="file.retry()" ng-show="file.error">
                        Retry
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <div class="submissionInfo">
        <span ng-show="$flow.getSize()">Size of submission: {{$flow.getSize() | bytes}}</span>
        <span ng-show="$flow.sizeUploaded()">Uploaded: {{$flow.sizeUploaded() | bytes}}</span>
        <span ng-show="$flow.timeRemaining() && $flow.isUploading()">Estimated time remaining: {{$flow.timeRemaining()}}</span>
    </div>
    <div class="submitFormStatement" ng-show="$flow.files.length > 0  && submit.showTable()" ng-class="{'checked': submit.agree}">
        <input type="checkbox" class="submitAgreement" ng-model="submit.agree"/>
        <p>I confirm that this submission was written and/or created by me, and I have not plagiarised or used another person's work with proper referencing.</p>
        <p>To the best of my ability I have adhered to the submission guidelines as described in the assignment brief and the student handbook.</p>
    </div>
    <div class="submitFormButtons" ng-show="$flow.files.length > 0 && submit.submissionComplete == false">
        <button class="submitButton action" ng-click="submit.uploadItems($flow)" ng-disabled="!submit.canUpload()">Submit Files</button>
        <button class="action" ng-click="$flow.resume()" ng-show="">Resume uploads</button>
        <button class="action" ng-click="$flow.pause()" ng-show="$flow.isUploading()">Pause uploads</button>
        <a class="action cancel" ng-click="$flow.cancel()" ng-show="$flow.getSize()">Cancel Uploads</a>
    </div>
    <div ng-show="submit.submissionComplete && submit.submissionResult =='success'" class="submitAgainBar submitFormButtons uploadSuccess">
        <h3>You sucessfully uploaded {{submit.count}} files.</h3>
        <button class="action" ng-click="submit.newSubmission($flow)">Submit another Assignment</button>
    </div>
    <div ng-show="submit.submissionComplete && submit.submissionResult =='error'" class="submitAgainBar submitFormButtons uploadErrors">
        <h3>There were errors uploading these files: <span ng-repeat="file in submit.erroredFilesDisplay">{{file}}{{$last ? '' : ', '}}</span></h3>
        <p>Could you try to resubmit them? If you continue to have issues please open a trouble ticket using the green icon in the bottom right.</p>
        <button class="action" ng-click="submit.newSubmission($flow)">Submit them again</button>
    </div>
</section>