<section class="itemForm">
	<h2>Import Users</h2>
	<div>
		<div class="formButtonBar" ng-hide="usersImport.status.length == 0">
			<form name="importForm" class="importForm">
				<textarea name="jsonInput" placeholder="Paste Valid Json here" ng-model="usersImport.jsonText"></textarea>
			</form>
			<a ng-click="usersImport.checkJson()" class="checkJson">Check Json</a>
			<span class="formMessage small">{{usersImport.jsonStatus}}</span>
			<button type="submit" 
				ng-click="usersImport.importAsJson()" 
				class="action saveItemButton" 
				ng-disabled="semesterForm.$invalid">Import Users</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="importStatus" ng-show="usersImport.status.length > 0">
		<a ui-sref="^" class="action cancel">Done</a>
		<div class="userMessage" ng-repeat="message in usersImport.status">{{message}}</div>
	</div>

</section>