<section>
	<div class="itemListWrapper" ng-class="{loaded : loaded}" hide-until-loaded>
		<div class="itemContainer">
			<div ng-show="list.length > 0">

				<table class="submissionsGrid dataGrid classSubsGrid" 
					ng-show="displayAs == 'class'"
					st-table="displayList"
					st-safe-src="list">
					<thead>
						<tr>
							<th colspan="7" class="searchBar">
								<!-- <button class="downloadGroup" ng-click="downloadGroup()">Download Selected Submissions</button> -->
								<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
							</th>
						</tr>
						<tr>
							<th st-sort="assignment.name">Assignment</th>
							<th st-sort="assignment.student_id">Student</th>
							<th st-sort="created">Submission Date</th>
							<th st-sort="name">File</th>
							<th></th>
							<!-- <th>Download</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayList">
							<td>{{row.assignment.name}}</td>
							<td person-menu="row.student_id">{{row.student_id}}</td>
							<td >{{row.created | date:'d-M-yyyy'}}</td>
							<td>{{row.name}}</td>
							<td class="subActions">
								<a class="action downloadLink" ng-click="showModal($index)" ng-hide="testIfViewable(row.name)">View</a>
								<span ng-hide="testIfViewable(row.name)"> | </span>	
								<a class="action downloadLink" download href="uploads/{{row.path}}{{row.name}}">Download</a>
							</td>
							<!-- <td class="groupDownloadCol"><input type="checkbox" ng-model="subToDownload[row.id]" ng-true-value="{{row.id}}" ng-false-value="''" ng-change="submissionChecked()"/></td> -->
						</tr>
					</tbody>
				</table>

				<table class="submissionsGrid dataGrid studentSubsGrid" 
					st-table="displayList"
					st-safe-src="list"
					ng-show="displayAs == 'student'">
					<thead>
						<tr>
							<th colspan="7" class="searchBar">
								<button class="downloadGroup" ng-click="downloadGroup()">Download Selected Submissions</button>
								<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
							</th>
						</tr>
						<tr>
							<th st-sort="assignment.class.title">Class</th>
							<th st-sort="assignment.name">Assignment</th>
							<th st-sort="created">Submission Date</th>
							<th st-sort="name">File</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayList">
							<td>{{row.assignment.class.title}}</td>
							<td>{{row.assignment.name}}</td>
							<td >{{row.created | date:'d-M-yyyy'}}</td>
							<td>{{row.name}}</td>
							<td class="subActions">
								<a class="action downloadLink" ng-click="showModal($index)" ng-hide="testIfViewable(row.name)">View</a>
								<span ng-hide="testIfViewable(row.name)"> | </span>	
								<a class="action downloadLink" download href="uploads/{{row.path}}{{row.name}}">Download</a>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="submissionsGrid dataGrid studentSubsGrid" 
					st-table="displayList"
					st-safe-src="list"
					ng-show="displayAs == 'program'">
					<thead>
						<tr>
							<th colspan="7" class="searchBar">
								<button class="downloadGroup" ng-click="downloadGroup()">Download Selected Submissions</button>
								<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
							</th>
						</tr>
						<tr>
							<th st-sort="assignment.class.title">Class</th>
							<th st-sort="assignment.name">Assignment</th>
							<th st-sort="assignment.student_id">Student</th>
							<th st-sort="created">Submission Date</th>
							<th st-sort="name">File</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayList">
							<td>{{row.assignment.class.title}}</td>
							<td>{{row.assignment.name}}</td>
							<td person-menu="row.student_id">{{row.student_id}}</td>
							<td >{{row.created | date:'d-M-yyyy'}}</td>
							<td>{{row.name}}</td>
							<td class="subActions">
								<a class="action downloadLink" ng-click="showModal($index)" ng-hide="testIfViewable(row.name)">View</a>
								<span ng-hide="testIfViewable(row.name)"> | </span>	
								<a class="action downloadLink" download href="uploads/{{row.path}}{{row.name}}">Download</a>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="submissionsGrid dataGrid" 
					st-table="displayList"
					st-safe-src="list"
					ng-show="displayAs == 'myclasses'">
					<thead>
						<tr>
							<th colspan="7" class="searchBar">
								<button class="downloadGroup" ng-click="downloadGroup()">Download Selected Submissions</button>
								<input type="text" class="filter" placeholder="type to filter"  st-search=""/>
							</th>
						</tr>
						<tr>
							<th st-sort="assignment.class.title">Class</th>
							<th st-sort="assignment.name">Assignment</th>
							<th st-sort="student_id">Student</th>
							<th st-sort="created">Submission Date</th>
							<th st-sort="name">File</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayList">
							<td>{{row.assignment.class.title}}</td>
							<td>{{row.assignment.name}}</td>
							<td person-menu="row.student_id">{{row.student_id}}</td>
							<td >{{row.created | date:'d-M-yyyy'}}</td>
							<td>{{row.name}}</td>
							<td class="subActions">
								<a class="action downloadLink" ng-click="showModal($index)" ng-hide="testIfViewable(row.name)">View</a>
								<span ng-hide="testIfViewable(row.name)"> | </span>	
								<a class="action downloadLink" download href="uploads/{{row.path}}{{row.name}}">Download</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div ng-show="list.length < 1" class="emptyCollection">
				<h2>There aren't any submissions here yet.</h2>
			</div>
		</div>
	</div>
	<!-- <fileviewer subs-array="displayList" show="modalOpen" sub-index="activeSubIndex"></fileviewer> -->
</section>