<section class="itemForm">
	<h2 ng-show="classForm.mode == 'create'">Add A Class</h2>
	<h2 ng-show="classForm.mode == 'edit'">Class Edit</h2>
	<form name="classEditForm" novalidate>
		<div class="formSection">
			<label>Title:</label>
			<input type="text" name="title" ng-model="classForm.item.title" placeholder="Class Title" required/>
		</div>
		<div class="formSection">
			<label>End Date: <span>(leave blank to use the semester end date)</span></label>
			<quick-datepicker type="datetime" disable-timepicker="true" date-filter="classForm.onlyFuture" required
				name="end-date" 
				ng-model="classForm.item.ends" 
				placeholder="End Date" 
				class="datePicker"></quick-datepicker>
		</div>
		<div class="formSection">
			<label>Module:</label>
			<ui-select required ng-model="classForm.item.module_id" theme="select2" ng-disabled="disabled" class="large">
				<ui-select-match placeholder="Select a module">{{$select.selected.title}}</ui-select-match>
				<ui-select-choices repeat="module.id as module in classForm.moduleList | filter:$select.search">
					{{module.title}}
				</ui-select-choices>
			</ui-select>
		</div>
	</form>
	<div ng-show="classForm.message == ''">
		<div class="formButtonBar" ng-show="classForm.mode == 'create'">
			<button type="submit" 
				ng-click="classForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="classEditForm.$invalid">Create Class</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
		<div class="formButtonBar" ng-show="classForm.mode == 'edit'" ng-class="{deleting: classForm.deleting}">
			<button type="submit" 
				ng-click="classForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="classEditForm.$invalid">Update Class</button>
			<button ng-click="classForm.toggleDelete()" class="action delete"><span>Delete Class</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="classForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="classForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="classForm.message != ''">{{classForm.message}}</div>
	<div class="formSection authorizationsRow">
		<label>Class Teachers</label>
		<ui-select multiple ng-model="classForm.teachers" theme="select2" ng-disabled="disabled" on-select="classForm.onSelect($item, $model)" on-remove="classForm.onRemove($item, $model)">
			<ui-select-match placeholder="Select a Teacher">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
			<ui-select-choices repeat="teacher.id as teacher in globals.teachers | filter:$select.search">
				{{teacher.first_name}} {{teacher.last_name}}
			</ui-select-choices>
		</ui-select>
		<span class="saving" ng-show="classForm.savingTeachers">Saving...</span>
	</div>
</section>
