<header id="pageTop"><h1>Prague College Academic Programs</h1></header>
<section id="page">
	<button class="bigAddButton" ui-sref="programCreate"><b></b>Add a Program</button>
	<div class="itemListWrapper" ng-class="{loaded : programs.loaded}" hide-until-loaded>
		<div class="itemContainer">
			<div class="programBlock tempProgramBlock itemBlock" 
				ng-repeat="program in programs.programList"
				ng-show="programs.programList.length > 0">
				<header>
					<h2 ui-sref="programView({semester: globals.selectedSemester, program: program.slug})" class="action">{{program.title}}</h2>
					<a class="action edit white" ui-sref="programEdit({program: program.slug})">
						<span>edit</span>
					</a>
				</header>
				<article>
					<div class="left programDataLeft">
						<p>Led by 
							<a ng-repeat="pl in program.program_authorizations">
								{{pl.program_leader.first_name}}&nbsp;{{pl.program_leader.last_name}}
							</a>
						</p>
					</div>
					<div class="right programDataRight">
						<h4>
							<span>{{program.moduleCount}}</span>
							<a ui-sref="programModules({semester: globals.selectedSemester, program: program.slug})">Modules</a>
						</h4>
						<h4>
							<span>{{program.semesterClassesCount}}</span>
							<a ui-sref="programClasses({semester: globals.selectedSemester, program: program.slug})">Current Classes</a>
						</h4>
					</div>
				</article>	
			</div><!-- End program block -->
			<div ng-show="programs.programList.length.length < 1" class="emptyCollection">
				<h2>There aren't any programs yet.</h2>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section>
<section class="formContainer" ui-view ng-class="{isVisible : prgForm.modal}"></section>

