<section class="itemForm">
	<h2 ng-show="prgForm.mode == 'create'">Add a Program</h2>
	<h2 ng-show="prgForm.mode == 'edit'">Edit {{prgForm.item.title}}</h2>
	<form name="programForm" novalidate>
		<div class="formSection">
			<label>Program Title: </label>
			<input type="text" name="title" 
				ng-model="prgForm.item.title" 
				required
				placeholder="Program Title"/>
		</div>
	</form>
	<div ng-show="prgForm.message == ''">
		<div class="formButtonBar" ng-show="prgForm.mode == 'create'">
			<button type="submit" 
				ng-click="prgForm.createItem()" 
				class="action saveItemButton" 
				ng-disabled="programForm.$invalid">Create Program</button>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>

		<div class="formButtonBar" ng-show="prgForm.mode == 'edit'" ng-class="{deleting: prgForm.deleting}">
			<button type="submit" 
				ng-click="prgForm.updateItem()" 
				class="action saveItemButton" 
				ng-disabled="programForm.$invalid">Update Program</button>
			<button ng-click="prgForm.toggleDelete()" class="action delete"><span>Delete Program</span></button>
			<span class="bubble leftpoint warn">
				<button ng-click="prgForm.deleteItem()" class="reallyDelete">Delete</button> 
				<a ng-click="prgForm.toggleDelete()" class="action cancel">cancel</a>
			</span>
			<a ui-sref="^" class="action cancel">Cancel</a>
		</div>
	</div>
	<div class="formMessage" ng-show="prgForm.message != ''">{{prgForm.message}}</div>
	<div class="formSection authorizationsRow">
		<label>Program Leaders</label>
		<ui-select multiple ng-model="prgForm.program_authorizations" theme="select2" ng-disabled="disabled" on-select="prgForm.onSelect($item, $model)" on-remove="prgForm.onRemove($item, $model)">
			<ui-select-match placeholder="Select a Program Leader">{{$item.first_name}} {{$item.last_name}}</ui-select-match>
			<ui-select-choices repeat="leader.id as leader in prg.programLeaders | filter:$select.search">
				{{leader.first_name}} {{leader.last_name}}
			</ui-select-choices>
		</ui-select>
		<span class="saving" ng-show="prgForm.savingTeachers">Saving...</span>
	</div>
</section>

