<div id="mc-messages-wrapper">
	<div class="animated alert alert-{{ message.type }} {{ animation }}" ng-repeat="message in mcMessages">
		<a class="close action" ng-click="message.close();" data-dismiss="alert" aria-hidden="true">
			<svg x="0px" y="0px"viewBox="0 0 56.211 58.095" enable-background="new 0 0 56.211 58.095">
			  	<path d="M28.058,1.651c-15.413,0-27.907,12.495-27.907,27.907s12.495,27.907,27.907,27.907s27.907-12.495,27.907-27.907 S43.471,1.651,28.058,1.651z M44.492,42.974l-3.46,3.46L28.058,33.46L15.084,46.434l-3.46-3.46L24.598,30L11.625,17.026l3.46-3.46 L28.058,26.54l12.974-12.974l3.46,3.46L31.518,30L44.492,42.974z"/>
			</svg>
		</a>
		<span ng-switch on="message.html">
			<span ng-switch-when="true">
			  	<span ng-bind-html="message.message"></span>
			</span>
			<span ng-switch-default>
			  	{{ message.message }}
			</span>
		</span>
	</div>
</div>